pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
**/target/
.idea/
.vscode/
*.iml
*.ipr
*.iws
.DS_Store
Thumbs.db